{  CIDER: {    cider_version: "0.42.4",    dependencies: {      nuget: "",      tatin: "packages/",    },    dependencies_dev: {      tatin: "packages_dev/=TestCases",    },    distributionFolder: "Dist",    init: "",    make: "Admin.Make 1",    parent: "#",    projectSpace: "IniFiles",    project_url: "https://github.com/aplteam/IniFiles",    source: "APLSource",    tests: "TestCases.RunTests",  },  LINK: {    forceFilenames: 1,    watch: "ns",  },  SYSVARS: {    io: 1,    ml: 1,  },  USER: {  },}
